<template>
  <div>
    <v-row>
      <v-col>
        <p class="text-center">
          <strong>Monto Total:</strong>
          {{ getTotal }}
        </p>
      </v-col>
      <v-col>
        <p class="text-center">
          <strong>Impuestos:</strong>
          {{ getImpuestos }}
        </p>
      </v-col>
      <v-col>
        <p class="text-center">
          <strong>Monto Total Restaurante:</strong>
          {{ getTotalMesas }}
        </p>
      </v-col>
      <v-col>
        <p class="text-center">
          <strong>Monto Total Express:</strong>
          {{ getTotalExpress }}
        </p>
      </v-col>
    </v-row>
    <v-data-table
      :headers="headers"
      :items="filteredItems"
      hide-default-footer
      :single-expand="singleExpand"
      :expanded.sync="expanded"
      :page.sync="page"
      item-key="id"
      show-expand
      sort-by="fecha"
      class="elevation-1"
      @page-count="pageCount = $event"
    >
      <template v-slot:expanded-item="{ item }">
        <table class="table t">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-bind:key="index" v-for="(pedido, index) in item.pedidos">
              <td>{{ pedido.nombre }}</td>
              <td>{{ pedido.cant }}</td>
              <td>{{ convertMoney(pedido.precio) }}</td>
              <td>
                <v-icon small class="mr-2" @click="editItem(item, index)"
                  >fas fa-edit</v-icon
                >
              </td>
            </tr>
          </tbody>
        </table>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <!--           <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on"
              >Nuevo Item</v-btn
            >
          </template> -->
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col cols="12" sm="6" md="2">
                    <v-text-field
                      v-model="editedItem.pedidos[editedArrayIndex].id"
                      label="Id"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="6">
                    <v-text-field
                      v-model="editedItem.pedidos[editedArrayIndex].nombre"
                      label="Nombre"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="6" md="4">
                    <v-text-field
                      v-model="editedItem.pedidos[editedArrayIndex].cant"
                      label="Cantidad"
                      type="number"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close">Cancelar</v-btn>
              <v-btn color="blue darken-1" text @click="save">Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        color="green"
        v-model="page"
        :length="pageCount"
      ></v-pagination>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import moment from "moment";
export default {
  data() {
    return {
      page: 1,
      pageCount: 0,
      expanded: [],
      singleExpand: true,
      headers: [
        { text: "#", value: "" },
        { text: "Fecha", value: "fecha" },
        { text: "Tipo", value: "tipo" },
        { text: "Mesa", value: "mesa" },
        { text: "Mesero", value: "empleado" },
        { text: "Sub total", value: "subtotal" },
        { text: "Impuesto", value: "impuesto" },
        { text: "Total", value: "total" },
        { text: "", value: "data-table-expand" },
      ],
      dialog: false,
      editedIndex: -1,
      editedArrayIndex: 0,
      editedItem: {
        id: 0,
        categoria: 0,
        cant: 0,
        nombre: "",
        descripcion: "",
        precio: 0,
        pedidos: [{ id: 0, nombre: "", cant: 0 }],
      },
      defaultItem: {
        id: 0,
        categoria: 0,
        cant: 0,
        nombre: "",
        descripcion: "",
        precio: 0,
        pedidos: [{ id: 0, nombre: "", cant: 0 }],
      },
    };
  },
  props: {
    start: {
      type: String,
      default: moment()
        .subtract(7, "d")
        .format("DD/MM/YYYY"),
    },
    end: {
      type: String,
      default: moment().format("DD/MM/YYYY"),
    },
    restaurante: {
      type: String,
      default: "fogoncito1",
    },
  },
  computed: {
    ...mapState(["ventas"]),
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Item" : "Editar Item";
    },
    filteredItems() {
      let ventas = [];

      ventas = _.filter(this.ventas, (data) => {
        const start = moment(this.start, "YYYY-MM-DD 00:00:00");
        const date = moment(data.fecha, "DD/MM/YYYY HH:mm:ss");
        const end = moment(this.end, "YYYY-MM-DD").hour(23);
        return date.diff(start) > 0 && end.diff(date) > 0;
      });

      return ventas;
    },
    getTotal() {
      let total = 0;
      this.filteredItems.map((data) => {
        total = total + data.total;
      });
      return this.convertMoney(total);
    },
    getTotalMesas() {
      let total = 0;
      this.filteredItems.map((data) => {
        if (data.tipo === "Restaurante") {
          total = total + data.total;
        }
      });
      return this.convertMoney(total);
    },
    getTotalExpress() {
      let total = 0;
      this.filteredItems.map((data) => {
        if (data.tipo === "Express") {
          total = total + data.total;
        }
      });
      return this.convertMoney(total);
    },
    getImpuestos() {
      let total = 0;
      this.filteredItems.map((data) => {
        total = total + data.impuesto;
      });
      return this.convertMoney(total);
    },
  },
  methods: {
    ...mapActions(["editVentas"]),
    convertMoney(value) {
      const formatterPeso = new Intl.NumberFormat("es-CR", {
        style: "currency",
        currency: "CRC",
        minimumFractionDigits: 0,
      });
      let valueFinal = formatterPeso.format(value);

      return valueFinal;
    },
    editItem(item, index) {
      this.editedIndex = this.ventas.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedArrayIndex = index;
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.editedArrayIndex = 0;
      });
    },
    save() {
      this.editedItem.restaurante = this.restaurante;
      if (this.editedIndex > -1) {
        this.editVentas(this.editedItem);
      } else {
        //this.addInventario(this.editedItem);
        console.log("None");
      }
      this.close();
    },
  },
};
</script>
