<template>
  <v-layout>
    <v-container class="grey lighten-5">
      <v-row>
        <v-col cols="12" md="6">
          <h3>Restaurante Fogoncito #{{ id }}</h3>
        </v-col>
        <v-col cols="12" md="3">
          <v-dialog
            ref="dialogStart"
            v-model="firstDate"
            :return-value.sync="startDate"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="startDate"
                label="Inicio"
                prepend-icon="fa-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                light
              ></v-text-field>
            </template>
            <v-date-picker v-model="startDate" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="firstDate = false"
                >Cancel</v-btn
              >
              <v-btn
                text
                color="primary"
                @click="$refs.dialogStart.save(startDate)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-dialog>
        </v-col>
        <v-col cols="12" md="3">
          <v-dialog
            ref="dialogEnd"
            v-model="lastDate"
            :return-value.sync="endDate"
            persistent
            width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="endDate"
                label="Fin"
                prepend-icon="fa-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="endDate" scrollable>
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="lastDate = false"
                >Cancel</v-btn
              >
              <v-btn text color="primary" @click="$refs.dialogEnd.save(endDate)"
                >OK</v-btn
              >
            </v-date-picker>
          </v-dialog>
        </v-col>

        <v-col cols="12" md="3">
          <stats-card data-background-color="green">
            <template slot="header">
              <v-icon>fas fa-percent</v-icon>
            </template>

            <template slot="content">
              <p class="category">Impuestos</p>
              <h3 class="title">{{ getImpuestos }}</h3>
            </template>

            <template slot="footer">
              <div class="stats">
                <v-icon>fa fa-calendar</v-icon>Últimas 24 horas
              </div>
            </template>
          </stats-card>
        </v-col>
        <v-col cols="12" md="3">
          <stats-card data-background-color="blue">
            <template slot="header">
              <v-icon>fa fa-store</v-icon>
            </template>

            <template slot="content">
              <p class="category">Ingresos Total</p>
              <h3 class="title">{{ totalRevenue }}</h3>
            </template>

            <template slot="footer">
              <div class="stats">
                <v-icon>fa fa-calendar</v-icon>Últimas 24 horas
              </div>
            </template>
          </stats-card>
        </v-col>
        <v-col cols="12" md="3">
          <stats-card data-background-color="orange">
            <template slot="header">
              <v-icon>fas fa-utensils</v-icon>
            </template>

            <template slot="content">
              <p class="category">Ingresos Local</p>
              <h3 class="title">{{ localIngresos }}</h3>
            </template>

            <template slot="footer">
              <div class="stats">
                <v-icon>fa fa-calendar</v-icon>Últimas 24 horas
              </div>
            </template>
          </stats-card>
        </v-col>
        <v-col cols="12" md="3">
          <stats-card data-background-color="red">
            <template slot="header">
              <v-icon>fa fa-truck</v-icon>
            </template>

            <template slot="content">
              <p class="category">Ingresos Express</p>
              <h3 class="title">{{ expressIngresos }}</h3>
            </template>

            <template slot="footer">
              <div class="stats">
                <v-icon>fa fa-calendar</v-icon>Últimas 24 horas
              </div>
            </template>
          </stats-card>
        </v-col>

        <v-col cols="12">
          <md-card>
            <md-card-header data-background-color="orange">
              <h4 class="title">Inventario Existente</h4>
            </md-card-header>
            <md-card-content>
              <inventario :restaurante="`fogoncito${id}`"></inventario>
            </md-card-content>
          </md-card>
        </v-col>
        <v-col cols="12" md="6">
          <md-card>
            <md-card-header data-background-color="red">
              <h4 class="title">Productos Vendidos</h4>
            </md-card-header>
            <md-card-content>
              <productos
                table-header-color="red"
                :start="startDate"
                :end="endDate"
              ></productos>
            </md-card-content>
          </md-card>
        </v-col>
        <v-col cols="12" md="6">
          <md-card>
            <md-card-header data-background-color="blue">
              <h4 class="title">Clientes</h4>
            </md-card-header>
            <md-card-content>
              <clientes table-header-color="blue"></clientes>
            </md-card-content>
          </md-card>
        </v-col>
        <v-col cols="12" style="max-width:1110px;">
          <md-card>
            <md-card-header data-background-color="green">
              <h4 class="title">Detalle de Ventas</h4>
            </md-card-header>
            <md-card-content>
              <detalle
                :start="startDate"
                :end="endDate"
                table-header-color="green"
                :restaurante="`fogoncito${id}`"
              ></detalle>
            </md-card-content>
          </md-card>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { mapState, mapActions } from "vuex";
import {
  StatsCard,
  Clientes,
  Productos,
  Inventario,
  Detalle,
} from "../components/";
import _ from "lodash";
import moment from "moment";

export default {
  name: "Dashboard",
  components: {
    StatsCard,
    Clientes,
    Productos,
    Inventario,
    Detalle,
  },
  data() {
    return {
      id: this.$route.params.id,
      firstDate: false,
      lastDate: false,
      startDate: moment().format("YYYY-MM-DD"),
      endDate: moment().format("YYYY-MM-DD"),
    };
  },
  mounted() {
    let start = this.id === "1" ? moment(
      `${this.startDate} 00:00:00`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.startDate).format("DD/MM/YYYY 00:00:00").toString();
    let end = this.id === "1" ? moment(
      `${this.endDate}  23:59:59`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.endDate).format("DD/MM/YYYY 29:99:99").toString();
    this.getVentas({
      restaurante: `fogoncito${this.id}`,
      startDate: start,
      endDate: end,
    });
  },
  watch: {
    "$route.params.id"(val) {
      let start = this.id === "1" ? moment(
      `${this.startDate} 00:00:00`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.startDate).format("DD/MM/YYYY 00:00:00").toString();
    let end = this.id === "1" ? moment(
      `${this.endDate}  23:59:59`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.endDate).format("DD/MM/YYYY 29:99:99").toString();
      this.getVentas({
        restaurante: `fogoncito${this.id}`,
        startDate: start,
        endDate: end,
      });
    },
    startDate: function() {
      let start = this.id === "1" ? moment(
      `${this.startDate} 00:00:00`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.startDate).format("DD/MM/YYYY 00:00:00").toString();
    let end = this.id === "1" ? moment(
      `${this.endDate}  23:59:59`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.endDate).format("DD/MM/YYYY 29:99:99").toString();
      this.getVentas({
        restaurante: `fogoncito${this.id}`,
        startDate: start,
        endDate: end,
      });
    },
    endDate: function() {
      let start = this.id === "1" ? moment(
      `${this.startDate} 00:00:00`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.startDate).format("DD/MM/YYYY 00:00:00").toString();
    let end = this.id === "1" ? moment(
      `${this.endDate}  23:59:59`,
      "YYYY-MM-DD HH:mm:ss"
    ).toDate() : moment(this.endDate).format("DD/MM/YYYY 29:99:99").toString();
      this.getVentas({
        restaurante: `fogoncito${this.id}`,
        startDate: start,
        endDate: end,
      });
    },
  },
  computed: {
    ...mapState(["ventas"]),
    getImpuestos() {
      let total = 0;
      _.map(this.ventasHoy, (data) => {
        total = total + data.impuesto;
      });
      return this.convertMoney(total);
    },
    ventasHoy() {
      return _.filter(this.ventas, (data) => {
        const hoy = moment(moment().format("DD/MM/YYYY"), "DD/MM/YYYY"); //DD-MM-YYYY 00:00:00
        const now = moment(); //DD-MM-YYYY 16:01:52
        const end = moment(data.fecha, "DD/MM/YYYY HH:mm:ss"); //DD-MM-YYYY 10:01:52
        return end.diff(hoy) > 0 && end.diff(hoy) < now.diff(hoy);
      });
    },
    expressIngresos() {
      const ventas = _.filter(this.ventas, (data) => {
        const hoy = moment(moment().format("DD/MM/YYYY"), "DD/MM/YYYY"); //DD-MM-YYYY 00:00:00
        const now = moment(); //DD-MM-YYYY 16:01:52
        const end = moment(data.fecha, "DD/MM/YYYY HH:mm:ss"); //DD-MM-YYYY 10:01:52
        return (
          end.diff(hoy) > 0 &&
          end.diff(hoy) < now.diff(hoy) &&
          data.tipo === "Express"
        );
      });
      let total = 0;

      _.map(ventas, (data) => {
        total = total + data.total;
      });
      return this.convertMoney(total) || 0;
    },
    localIngresos() {
      const ventas = _.filter(this.ventas, (data) => {
        const hoy = moment(moment().format("DD/MM/YYYY"), "DD/MM/YYYY"); //DD-MM-YYYY 00:00:00
        const now = moment(); //DD-MM-YYYY 16:01:52
        const end = moment(data.fecha, "DD/MM/YYYY HH:mm:ss"); //DD-MM-YYYY 10:01:52
        return (
          end.diff(hoy) > 0 &&
          end.diff(hoy) < now.diff(hoy) &&
          data.tipo === "Restaurante"
        );
      });
      let total = 0;

      _.map(ventas, (data) => {
        total = total + data.total;
      });
      return this.convertMoney(total) || 0;
    },
    totalRevenue() {
      let total = 0;

      _.map(this.ventasHoy, (data) => {
        total = total + data.total;
      });
      return this.convertMoney(total) || 0;
    },
  },
  methods: {
    ...mapActions(["getVentas"]),
    convertMoney(value) {
      const formatterPeso = new Intl.NumberFormat("es-CR", {
        style: "currency",
        currency: "CRC",
        minimumFractionDigits: 0,
      });
      let valueFinal = formatterPeso.format(value);

      return valueFinal;
    },
  },
};
</script>
