<template>
  <v-layout>
    <v-container class="grey lighten-5">
      <v-row>
        <h1>Inventario - {{ document.nombre }}</h1>

        <v-col cols="12" md="12" sm="12" lg="12" xl="12">
          <div>
            <v-data-table
              :headers="headers"
              :items="inventario"
              sort-by="fecha_inicio"
              class="elevation-1 overflow-div"
              :page.sync="page"
              :items-per-page="5"
              hide-default-footer
              @page-count="pageCount = $event"
            >
              <template v-slot:top>
                <v-toolbar flat color="white">
                  <v-toolbar-title>Items</v-toolbar-title>
                  <v-divider class="mx-4" inset vertical></v-divider>
                  <v-spacer></v-spacer>
                  <v-dialog v-model="dialog" max-width="720px">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        color="primary"
                        dark
                        class="mb-2"
                        v-bind="attrs"
                        v-on="on"
                        >Nuevo Registro</v-btn
                      >
                    </template>
                    <v-card>
                      <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                      </v-card-title>

                      <v-card-text>
                        <v-container>
                          <v-row>
                            <v-col cols="6" sm="6" md="6">
                              <p>Fecha: <br/>{{ editedItem.fecha.toDate() }}</p>
                            </v-col>
                            <v-col cols="6" sm="6" md="6">
                              <v-text-field
                                v-model="editedItem.cantidad"
                                label="Cantidad"
                                type="number"
                              ></v-text-field
                            ></v-col>
                          </v-row>
                        </v-container>
                      </v-card-text>

                      <v-card-actions>
                        <v-btn color="blue darken-1" text @click="close"
                          >Cancelar</v-btn
                        >
                        <v-btn color="blue darken-1" text @click="save"
                          >Guardar</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                      <v-card-title class="text-h5"
                        >¿Seguro que desea borrar el registro?</v-card-title
                      >
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="closeDelete"
                          >Cancel</v-btn
                        >
                        <v-btn
                          color="blue darken-1"
                          text
                          @click="deleteItemConfirm"
                          >OK</v-btn
                        >
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-toolbar>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-icon small class="mr-2" @click="printItem(item)"
                  >fas fa-print</v-icon
                >
                <v-icon small class="mr-2" @click="editItem(item)"
                  >fas fa-edit</v-icon
                >
                <v-icon small @click="deleteItem(item)">fas fa-trash</v-icon>
              </template>
            </v-data-table>
            <div class="text-center pt-2">
              <v-pagination v-model="page" :length="pageCount"></v-pagination>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script>
import { db, Timestamp } from "../../firebase";

export default {
  name: "Inventario",
  data() {
    return {
      id: this.$route.params.id,
      doc: this.$route.params.doc,
      document: null,
      inventario: [],
      dialog: false,
      dialogDelete: false,
      page: 1,
      pageCount: 0,
      editedIndex: -1,
      editedItem: {
        id: 0,
        fecha: Timestamp.now(),
        cantidad: 0,
      },
      defaultItem: {
        id: 0,
        fecha: Timestamp.now(),
        cantidad: 0,
      },
      headers: [
        {
          text: "#",
          align: "start",
          value: "index",
        },
        { text: "Fecha", value: "fecha", sortable: true },
        { text: "Cantidad", value: "cantidad", sortable: false },
      ],
    };
  },
  created() {
    this.getDocDetalle();
    this.getInventarioDetallado();
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Item" : "Editar Item";
    },
  },
  methods: {
    async getDocDetalle() {
      const ref = db
        .collection(`fogoncito${this.id}`)
        .doc("inventario")
        .collection("inventario")
        .doc(this.doc);

      const doc = await ref.get();

      if (!doc.exists) {
        console.log("No such document!");
      } else {
        console.log("Document data:", doc.data());
        this.document = doc.data();
      }
    },

    async getInventarioDetallado() {
      const ref = db
        .collection(`fogoncito${this.id}`)
        .doc("inventario")
        .collection("inventario")
        .doc(this.doc)
        .collection("items");

      const doc = await ref.get();

      if (!doc.exists) {
        console.log("No such document!");
      } else {
        console.log("Document data:", doc.data());
        this.inventario = doc.data();
      }
    },

    async addItemInventario(item) {
      try {
        const ref = db
          .collection(`fogoncito${this.id}`)
          .doc("inventario")
          .collection("inventario")
          .doc(this.doc)
          .collection("items");
        const res = await ref.add({
          fecha: Timestamp.now(),
          cantidad: item.cantidad,
        });

        console.log(`Document ${res.id} has been updated.`);
      } catch (error) {
        console.log("No matching documents.\nError: ", error);
      }
    },

    async editInventario(item) {
      try {
        const ref = db
          .collection(item.username)
          .doc("inventario")
          .collection("inventario")
          .doc(this.doc)
          .collection("items");
        const res = await ref.update({
          cantidad: item.cantidad,
        });

        console.log(`Document ${res.id} has been updated.`);
      } catch (error) {
        console.log("No matching documents.\nError: ", error);
      }
    },

    async deleteItemInventario(item) {
      try {
        const ref = db
          .collection(item.username)
          .doc("inventario")
          .collection("inventario")
          .doc(this.doc)
          .collection("items");
        const res = await ref.delete();

        console.log(`Document ${res.id} has been deleted.`);
      } catch (error) {
        console.log("No matching documents.\nError: ", error);
      }
    },

    editItem(item) {
      this.editedIndex = this.inventario.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.registros.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      const reg = {
        id: this.editedItem.id,
        id_empleado: this.id,
      };
      this.eliminarRegistro(reg);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      this.editedItem.cantidad = parseFloat(this.editedItem.cantidad);
      if (this.editedIndex > -1) {
        this.editItemInventario(this.editedItem);
      } else {
        this.addItemInventario(this.editedItem);
      }
      this.close();
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
};
</script>
