<template>
  <v-layout>
    <v-container class="grey lighten-5">
      <v-row>
        <v-col cols="12" md="12" sm="12" lg="12" xl="12"
          ><h2>Conversion</h2>
        </v-col>
        <v-col cols="12" md="12" sm="12" lg="12" xl="12">
          <ul>
            <template>
              <li :key="index" v-for="(venta, index) in ventas">
                Fecha {{ venta.fecha }}
              </li></template
            >
          </ul>
        </v-col>
      </v-row>
    </v-container>
  </v-layout>
</template>

<script setup>
import { db, Timestamp } from "../../firebase";
import moment from "moment";

export default {
  name: "Ventas",
  data: () => ({
    ventas: [],
  }),
  created() {
    for (let i = 1; i <= 31; i++) {
      console.log(`${i < 10 ? "0" + i : i}/12/2023 00:00:00`);
      this.getVentas({
        restaurante: `fogoncito1`,
        startDate: `${i < 10 ? "0" + i : i}/12/2023 00:00:00`,
        endDate: `${i < 10 ? "0" + i : i}/12/2023 99:99:99`,
      });
    }
  },
  methods: {
    getVentas(params) {
      const ref = db
        .collection(params.restaurante)
        .doc("ventas")
        .collection("ventas");
      ref
        .where("fecha", ">", params.startDate)
        .where("fecha", "<", params.endDate)
        .onSnapshot((querySnapshot) => {
          let ventas = [];
          if (querySnapshot.empty) {
            console.log("No matching documents. Empty");
            return;
          }

          querySnapshot.forEach((doc) => {
            let venta = doc.data();
            venta.id = doc.id;
            (venta.show = false), ventas.push(venta);
            ref.doc(venta.id).update({
              fecha_venta: Timestamp.fromDate(
                new Date(moment(venta.fecha, "DD/MM/YYYY HH:mm:ss").toDate())
              ),
            });
          });

          this.ventas = ventas;
        });
    },
  },
};
</script>
